<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.swpu.sharebook.mapper.BookSourcesMapper">
	<insert id="addBookSources" parameterType="com.swpu.sharebook.entity.BookSource" useGeneratedKeys="true" keyProperty="id">
		insert into booksource (sourceTime,userId,bId,bookAccount) values(#{sourceTime},#{userId},#{book.bId},#{bookAccount});
	</insert>
	<resultMap type="com.swpu.sharebook.entity.BookSource" id="bookSources">
		<result column="id" property="id"/>
		<result column="sourceTime" property="sourceTime"/>
		<result column="userId" property="userId"/>
<!-- 		<result column="bId" property="bId"/> -->
		<result column="boolPass" property="boolPass"/>
		<result column="bookAccount" property="bookAccount"/>
		<association property="book" javaType="com.swpu.sharebook.entity.Book" column="bId">
		<id property="bId" column="bId"/>
		<result column="bName" property="bName"/>
<result column="bookPbulish" property="bPublish"/>
<result column="bookIntroduction" property="introduction"/>
<result column="writer" property="writer"/>
<result column="bookOtherImportantPath" property="bookOtherImportantPath"/>
			<result column="bookPrice" property="bookPrice"/>
		</association>
	</resultMap>
	<!--
		返回集合
		@1返回用户的书籍
	-->
	<resultMap type="com.swpu.sharebook.entity.createentity.BookUserSource" id="bookUserSource">
		<result column="id" property="id"/>
		<result column="sourceTime" property="sourceTime"/>
		<result column="userId" property="userId"/>
		<!-- 		<result column="bId" property="bId"/> -->
		<result column="boolPass" property="boolPass"/>
		<result column="bookAccount" property="bookAccount"/>
		<result column="userName" property="userName" />
		<result column="studentId" property="studentId" />
		<result column="wechatNumber" property="wechatNumber" />
		<result column="dirmitoryNumber" property="dirmitoryNumber"/>
		<result column="headPortrait" property="headPortrait"/>
		<association property="book" javaType="com.swpu.sharebook.entity.Book" column="bId">
			<id property="bId" column="bId"/>
			<result column="bName" property="bName"/>
			<result column="bookPbulish" property="bPublish"/>
			<result column="bookIntroduction" property="introduction"/>
			<result column="writer" property="writer"/>
			<result column="bookOtherImportantPath" property="bookOtherImportantPath"/>
			<result column="bookPrice" property="bookPrice"/>
		</association>
	</resultMap>
	<!-- 查找所有未被审核的信息 -->
	<select id = "getBookSource" resultMap = "bookUserSource" parameterType = "java.lang.Integer">
select
		booksource.id,
		sourceTime,
		userId,
		boolPass,
		booksource.bookAccount,
		userName,
		studentId,
		wechatNumber,
		dirmitoryNumber,
		headPortrait,
		booksource.bId,
		bookPbulish,
		bookIntroduction,
		writer,
		bookOtherImportantPath,
		bookPrice
		FROM
		booksource,
		book,
		USER
		WHERE
		(
		boolPass = #{boolPass} and booksource.bId=book.bId and booksource.userId=user.id)
	</select>
	<!-- 查看指定id的表 -->
	<select id="getABookSource" parameterType="java.lang.Integer" resultMap="bookSources">
		select *from booksource,book where(id=#{sourcesId} and booksource.bId=book.bId)
	</select>
	<!-- 更新用户信息 -->
	<!--
		传入对象
	 -->
	<update id="auditUpdateBookSource" parameterType="com.swpu.sharebook.entity.BookSource">
	 UPDATE booksource
 <trim prefix="set" suffixOverrides=",">
  <if test="sourceTime!=null">sourceTime=#{sourceTime},</if>
  <if test="userId!=null and userId!='' ">userId=#{userId},</if>
  <if test="(book.bId)!=null and (book.bId)!='' ">bId=#{book.bId},</if>
  <if test="boolPass!=null and boolPass!='' ">boolPass=#{boolPass},</if>
  <if test="bookAccount!=null ">bookAccount=#{bookAccouont},</if>
 </trim>
 where(id=#{id})
	</update>
	<!--
		获取当前用户捐赠的所有书籍
	-->
	<select id="getUserBookSource" parameterType="java.lang.Integer" resultMap="bookSources">
		select *from booksource,book where(userId=#{uId} and booksource.bId=book.bId)
	</select>
</mapper>